<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>eventdetailsservlet</display-name>
    <servlet-name>eventdetailsservlet</servlet-name>
    <servlet-class>com.eventdetails.eventdetailsservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventdetailsservlet</servlet-name>
    <url-pattern>/eventdetailsservlet</url-pattern>
  </servlet-mapping>
  <display-name>Planevent</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>customerinsert</display-name>
    <servlet-name>customerinsert</servlet-name>
    <servlet-class>com.eventdetails.customerinsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerinsert</servlet-name>
    <url-pattern>/customerinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatecustomerservlet</display-name>
    <servlet-name>updatecustomerservlet</servlet-name>
    <servlet-class>com.eventdetails.updatecustomerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatecustomerservlet</servlet-name>
    <url-pattern>/updatecustomerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletecustomerservlet</display-name>
    <servlet-name>deletecustomerservlet</servlet-name>
    <servlet-class>com.eventdetails.deletecustomerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletecustomerservlet</servlet-name>
    <url-pattern>/deletecustomerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updatecustomerservlet</display-name>
    <servlet-name>Updatecustomerservlet</servlet-name>
    <servlet-class>com.eventdetails.Updatecustomerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updatecustomerservlet</servlet-name>
    <url-pattern>/Updatecustomerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatecusservlet</display-name>
    <servlet-name>updatecusservlet</servlet-name>
    <servlet-class>com.eventdetails.updatecusservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatecusservlet</servlet-name>
    <url-pattern>/updatecusservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletecusservlet</display-name>
    <servlet-name>deletecusservlet</servlet-name>
    <servlet-class>com.eventdetails.deletecusservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletecusservlet</servlet-name>
    <url-pattern>/deletecusservlet</url-pattern>
  </servlet-mapping>
</web-app>